---
import Avatar from '../components/Avatar.astro';
import Text from '../components/Text.astro';
import Title from '../components/Title.astro';
import Subtitle from '../components/Subtitle.astro';
import Skills from '../components/Skills.astro';
import Languages from '../components/Languages.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Freetime from '../components/Freetime.astro';
import Social from '../components/Social.astro';
import site from '../config.json';
const { frontmatter } = Astro.props;
---
<!DOCTYPE html>
<html lang={site.siteLanguage} dir="rtl">
<head>
<title>{site.siteTitle}</title>
<meta charset="UTF-8">
<meta name="description" content={site.siteDescription}>
<meta name="keywords" content={site.siteKeywords}>
<meta name="author" content={site.siteAuthor}>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="generator" content={Astro.generator} />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="stylesheet" href="/styles/global.css">
<link rel="stylesheet" href="/styles/w3.css">
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto&display=swap'>

<script src="https://kit.fontawesome.com/38388095fa.js" crossorigin="anonymous"></script>
</head>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <Avatar name={frontmatter.name} image={frontmatter.image} />
        <div class="w3-container text-size">
          <Text text={frontmatter.function} icon="fa-briefcase" />
          <Text text={frontmatter.address} icon="fa-home" />
          <Text text={frontmatter.email} icon="fa-envelope" />
          <Text text={frontmatter.website} icon="fa-wifi" />
          <Text text={frontmatter.telephone} icon="fa-phone" />
          <Text text={frontmatter.nationality} icon="fa-globe" />
 
          <hr>

          <Subtitle text="المهارات" icon="fa-asterisk" />
          <Skills lists={frontmatter.skills}/>
          <br>

          <Subtitle text="اللغات" icon="fa-globe" />
          <Languages lists={frontmatter.languages}/>
          <br>
          
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <Title text="خبرات العمل" icon="fa-suitcase" />
        <Experience lists={frontmatter.experiences}/>
      </div>

      <div class="w3-container w3-card w3-white">
        <Title text="التعليم" icon="fa-certificate" />
        <Education lists={frontmatter.educations}/>
      </div>
      <div class="w3-container w3-card w3-white">
        <Title text="مواعيد التفرغ" icon="fa-calendar-check" />
        <Freetime lists={frontmatter.freetime}/>
      </div>
      <!-- <footer class="w3-container w3-teal w3-center ">

        <p> <a href="/cv.pdf" >حملها بصيغة pdf </a></p>
      </footer> -->
    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->

  </div>
  
  <!-- End Page Container -->

</div>



</body>
</html>

<style>

</style>